# Compilación
build/
build-*/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Qt Creator
*.user
*.user.*
.qtc_clangd/

# Archivos compilados
*.exe
*.dll
*.obj
*.o
*.a
*.so

# Temporales
*.log
*.tmp